<h1>{{title}}</h1>

<p>Message du backend : <em>{{message.contents}}</em></p>

<p>Greeting numéro <em>{{greeting.id}}</em> : <em>{{greeting.content}}</em></p>

<div>
  <label>name:
    <input [(ngModel)]="userName" placeholder="name"/>
  </label>
  <button (click)="sendName()">Post</button>
</div>
<br>
<br>

<div>
  <h1>Save books</h1>
  <label>Id: <input [(ngModel)]="bookToSave.id" placeholder="id" type="number" required/></label>
  <label>Title: <input [(ngModel)]="bookToSave.title" placeholder="title" required/></label>
  <label>Author: <input [(ngModel)]="bookToSave.author" placeholder="author" required/></label>
  <label>Release date: <input [(ngModel)]="bookToSave.releaseDate" placeholder="releaseDate" required/></label>
  <button (click)="addBookToMap()">Add this book</button>
  <button (click)="saveAllBooks()">Save all added books</button>
</div>

<div>
  <h1>Fetched books : </h1>
  <h2>Book id/title :</h2>
  <li *ngFor="let book of booksFetched">
    <p>{{book.id}}/{{book.title}}</p>
  </li>
  <span>
    <label>Book to fetch by author: <input #authorToFetch type="text" placeholder="Search by author"/></label>
    <button (click)="getBookByAuthor(authorToFetch.value)">Fetch by author</button>
  </span>
  <span>
    <label>Book to fetch by title: <input #titleToFetch type="text" placeholder="Search by title"/></label>
    <button (click)="getBookByTitle(titleToFetch.value)">Fetch by title</button>
  </span>
  <span>
    <label>Fetch all Books: </label>
    <button (click)="getAllBooks()">Fetch all</button>
  </span>

  <br>

  <h2>Book info :</h2>
  <h3>Id: {{bookFetched.id}}</h3>
  <h3>Title: {{bookFetched.title}}</h3>
  <h3>Author: {{bookFetched.author}}</h3>
  <h3>Release date: {{bookFetched.releaseDate}}</h3>
  <span>
    <label>Id of book to fetch: <input #idToFetch type="text" placeholder="Fetch by Id"/></label>
    <button (click)="getBookById(idToFetch.value)">Fetch by Id</button>
  </span>
  <span>
    <label>Id of book to delete: <input #idToDelete type="text" placeholder="Delete by Id"/></label>
    <button (click)="deleteBookById(idToDelete.value)">Delete by Id</button>
  </span>
</div>

Logs :
<li *ngFor="let log of logs">
    <span>{{log}}</span>
</li>

